version: "3.9"

services:
  backend:
    build: ./backend
    container_name: mern-backend
    restart: always
    env_file:
      - ./backend/.env
    ports:
      - "5000:5000"

  frontend:
    build: ./frontend
    container_name: mern-frontend
    restart: always
    env_file:
    - ./frontend/.env
    ports:
      - "5173:80"
